﻿<div class="column container">
    <h1>Объекты</h1>
    <div class="row">
        <zf-section-card ng-repeat="section in scLstVm.sections" section="section" index="$index">
        </zf-section-card>
    </div>
    <div class="row fjc-sa container">
        <a ui-sref="tabview" class="btn">Далее</a>
    </div>
</div>
