﻿<div class="column card">
    <div class="title"><span ng-bind="scVm.section.label"></span></div>
    <div class="row container flexible hr"><span ng-bind="scVm.section.content"></span></div>
    <div class="row container"><input type="checkbox" id="cb_{{scVm.index}}" ng-model="scVm.section.selected"/><label for="cb_{{scVm.index}}">Выбрать для работы</label></div>
</div>