﻿ box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

.zf-tabs 
	margin 15px 0px
	box-shadow 3px 3px 10px 0px rgba(0,0,0,0.25)
	*
		box-sizing: border-box
	ul 
		display:flex
		list-style-type:none
		padding: 10px 0px 0px 0px
		border-bottom:1px solid #f0f0f0
		li
			transition: all ease-in .3s
			cursor pointer
			color rgba(0,0,0,0.54)
			border:1px solid transparent
			div
				display:inline-block;
				padding:10px;
				line-height:14px;
				transition: all ease-in .3s
				text-decoration:none
				text-transform:uppercase
				text-align center
				font-weight 500
				font-family:'Roboto', 'Arial', sans
				&:hover
					color:rgb(16,108,200)
		li.active
			cursor default
			border-bottom:1px solid red
			color rgb(16,108,200)
.zf-tabs>div
		min-height 100px
		text-align left