﻿@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic')
box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

transform(args...)
  -webkit-transform args
  -ms-transform args
  transform args

animation(args...)
  -webkit-animation args
  animation args

*
	box-sizing border-box
	font-family 'Roboto', serif
body
	margin 0
	min-height 100vh
	background-color #f8f8f8
header
	padding 10px 40px 10px 40px
	text-transform uppercase
	background-color #202020
	color #808080
footer
	background-color #202020
	color #808080
div.container
	padding:10px
h1
	font-size 24px
	font-weight 400
.column
	display flex
	flex-direction column
	height 100%
	text-align left
.row
	display flex
	flex-wrap wrap
	align-content stretch
	margin 0px 0px 10px 0px
	width 100%
	text-align left
.row.valign
	height 100%
	align-items center
.flexible
	flex:1
.fjc-end
	justify-content:flex-end;
.fjc-sb
	justify-content:space-between;
.fjc-sa
	justify-content:space-around;
.hr
	border-bottom 1px solid #f0f0f0
zf-section-card
	flex 1
	margin 0 10px 10px 0
.card
	min-width 200px	
	border 1px solid #dadada
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
				0 1px 5px 0 rgba(0,0,0,0.12),
				0 3px 1px -2px rgba(0,0,0,0.2)
	&:hover
			box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
					0 1px 7px 0 rgba(0,0,0,0.12),
					0 3px 1px -1px rgba(0,0,0,0.2)
	.title
		display flex
		padding 10px
		width 100%
		text-align left
		background-color rgb(216,67,21)
		color rgb(255,255,255)
.copyright
	margin 8px
	text-align right
.rsidebar
	width 250px
.lsidebar
	width 250px
a.btn
	display inline-block
	padding 10px 15px
	text-decoration none
	font-size 14px
	line-height 16px
	font-weight 500
	transition all ease-in .3s
	background-color: rgb(16,108,200)
	color rgba(255,255,255,0.87)
	text-transform uppercase
	font-family: Roboto,Helvetica Neue,sans-serif

	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
				0 1px 5px 0 rgba(0,0,0,0.12),
				0 3px 1px -2px rgba(0,0,0,0.2)

	&:hover
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
					0 1px 7px 0 rgba(0,0,0,0.12),
					0 3px 1px -1px rgba(0,0,0,0.2)
		outline 0px
		background-color rgb(1,89,162)
		
	&:active
		outline: 0px

.loader 
  color rgb(16,108,200)
  font-size 20px
  margin 100px auto
  width 1em
  height 1em
  border-radius 50%
  position relative
  text-indent -9999em
  animation load4 1.3s infinite linear;
  transform translateZ(0);

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
