﻿<div class="column container" ng-switch="tvVm.sections.length">
    <h1>Панель закладок</h1>
    <div ng-switch-when="0">
        <p style="text-align: center">
            Данные для отображения не&nbsp;найдены.<br />
            Вы&nbsp;будете перенаправлены на&nbsp;домашнюю страницу через <span ng-bind="tvVm.countDown"></span>&nbsp;сек.
        </p>
    </div>
    <div ng-switch-default>
        <zf-tabs tab-prefix="main" active-tab-idx="0">
            <zf-tab ng-repeat="section in tvVm.sections" tab-title="section.label">
                <div class="container">
                    <span ng-bind="section.content"></span>
                </div>
            </zf-tab>
        </zf-tabs>
    </div>
    <div class="row fjc-sa container">
        <a ui-sref="default" class="btn">Домой</a>
    </div>
</div>
